/*

Color pallete
https://coolors.co/292f3d-d64933-1c7363-01baef-fbfbff

*/


body {
    background-color: #292F3D;
    margin: 0;
    color: white;
    font-size: larger;
}

header {
    background-color: #D64933;
    padding: 10pt;

}

.panel {
    background-color: #1C7363;
    width: 90%;
    margin: 20pt auto;
    padding: 5pt;
    min-height: 120pt;
    display: block;
}
#status-panel {
    min-height: 50pt;
}

.buttons{
    float: center;
    display: flex;
    justify-content: space-between;
}

#control-panel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}


.rotationalButton{
    display: flex;
    justify-content: space-between;
}

.sliderDiv{
    display:flex;
    flex-direction: column;
}

.slider::after{
    content: "1000";
    color: white;
    position: absolute;
    left: 93%;
    top: 40%;
}
.slider::before{
    content: "1";
    position: absolute;
    color: white;
    right: 94%;
    top: 40%;
}