/*
Color pallete
https://coolors.co/292f3d-d64933-1c7363-01baef-fbfbff
*/


body {
    background-color: #292F3D;
    margin: 0;
    color: #FBFBFF;
    font-size: larger;
}

header {
    background-color: #D64933;
    padding: 10pt;
    display: flex;
}
button{
    background-color:#01BAEF ;
    padding: 10px;
    min-width: 120px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    color: #292F3D;
    margin: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
button:hover{
    opacity: 80%;
}



/* Classes */
.panel {
    background-color: #1C7363;
    width: 90%;
    margin: 20pt auto;
    padding: 5pt;
    display: block;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
}
.flex-col-down{
    display:flex;
    flex-direction: column;
}
.box{
    display: flex;
    justify-content: center;
    border: solid #292F3D ;
    width: 30pt;
    height: 15pt;
}
.rotationalButton{
    display: flex;
    justify-content: space-between;
}
.homeButton{
    display: flex;
    justify-content: center;
}
.goPosition{
    justify-content: space-between;
}
.goPosition span {
    margin: auto;
}
.center-content{
    align-items: center;
    margin: auto;
}
.number-textbox{
    width: 50px;
}
.space-between{
    justify-content: space-between;
}
.shadow{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Big round buttons */
.btnRot{
    background-color:#01BAEF ;
    padding: 10px;
    font-size: 14px;
    width: 120px;
    height: 120px;
    border: none;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.rotatebtns{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Slider that tracks position */
.PositionSlider {
    -webkit-appearance: none;
    margin: 20px 0;
    width: 100%;
    justify-content: center;
  }
  .PositionSlider::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #03a9f4;
    border-radius: 25px;
  }
  .PositionSlider::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(0,0,0, 1);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
  }
  .positionValue{
    position: absolute;
    top: -50%;
  }
  .positionValue span{
    width: 50px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background: #03a9f4;
    color: #fff;
    font-size: 12px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 6px;
  }


/* Slider for velocity panel*/
.sliderDiv{
    border: #292F3D solid;
    padding: 10pt;
    margin: 10px 2px;
}




/* IDs */
#Velocity-panel{
    justify-content: space-between;
}
#position-panel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 80px;
}
#timerOption{
    margin-top: 20px;
    height: 25px;
    width: 90px;
}
#timer{
    width: 50px;
    height: 18px; 
    margin-top: 20px; 
}
#positionInput{
    width: 60px;
}

#reconnectBtn{
    background-color: #D64933;
    color: white;
}


/* Status panel specifics */
#statusSignal{
    min-height: 40px;
}
#status-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 40px;
    border: #292F3D solid;
    padding: 4px;
}
#signal{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    min-height: 50pt;
    width: 50%;
    background-color: #1C7363;
    margin: auto;    
}
#light{
    float: right;
    background-color:#D64933;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: #292F3D solid;
    margin: auto 0;
}
.max-box{
    margin: 12px;
}
.positionWrap{
    width: 80%;
    margin: auto;
    margin-top: 25px;
    position: relative;
  }
.sliderbox{
    display:flex;
    flex-direction: row;
    border: #292F3D solid;
    margin: 10px 2px;
}



/* Dropdown menu */
.dropdown {
    background-color: #1C7363;
    position: relative;
    display: inline-block;
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    color: white;
    margin-left: 2px;
    margin-right: 2px;
}
.dropdown-content {
    display: none;
    position: absolute;
    float: right;
    right: 0;
    background-color: #292F3D;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {opacity: 80%;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover button {opacity: 80%;}
.mode {
    background-color: #1C7363;
    color: white;
    border: none;
}


/* hide the arrow from number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}